body {
    margin: 0px;
    /* background-image: url(p/photo-1516912481808-3406841bd33c.jpg); */
    background: url('https://images.unsplash.com/photo-1621274403997-37aace184f49?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1');
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
}

#container {
    margin-top: 10%;
    margin-left: 35%;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 black;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 300px;
    width: 30%;
    animation: fadeIn;
    animation-duration: 5s;
}

#stopwatch {
    font-size: 36px;
    margin-top: 20%;
}

button {
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 20%;
    height: 15%;
    margin-top: 18%;
}

button:hover {
    color: black;
    background-color: white;
    cursor: pointer;

}